*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.nav-area {
    float: left;
    list-style: none;
    margin-left: 150px;
    margin-top: 40px;
    padding-right: 10px;
    margin-bottom: 100px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #1FA8CF;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 19px;
}

.nav-area li a:hover {
    background: #66a5ad;
    color: white;
}

.logo img {
    width: 250px;
    float: left;
    padding-left: 1%;
    padding-top: 1%;
}


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-book {
    height: 100vh;
    background-image: linear-gradient(to right bottom, #66a5ad, #c4dfe6);
}

.book {
    width: 80%;
    height: 90%;
    background-image: linear-gradient(105deg,
     rgba(255, 255, 255, 0.5) 0%,
     rgba(255, 255, 255, 0.5) 50%, 
     transparent 50%), url(../Images/Booking_Background_New.jpg);
     background-size: 100%;
     background-position: right;
     border-radius: 3px;
     box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.book_form {
    width: 50%;
    padding: 6rem;
}

.heading {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #33313B;
}

.form_group {
    margin-bottom: 0;
    color: #33313B;
}

.form_group:nth-child(3) {
    margin-bottom: 3rem;
}

.form_input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(196, 223, 230, 0.7);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3%;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #07575b;
    background-color: rgb(196, 223, 230);
}

.form_input:focus:invalid {
    border-bottom: 3px solid #1FA8CF;
}

.form_input::-webkit-input-placeholder {
    color: gray;
}

.form_label {
    font-style: 1.4rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 2rem;
    display: block;
    transition: all 0.3s;
    color: 
}

.form_input::placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4rem);
}

.form_radio-group {
    width: 49%;
    display: inline-block;
}

.form_radio-input {
    display: none;
}

.form_radio-label {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
}

.form_radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #1FA8CF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.04rem;
}

.form_radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4592AF;
    opacity: 0;
    transition: opacity 0.2s;
}

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
    opacity: 1;
}

.btn, .btn:link, btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    background-color: #1FA8CF;
    color: white;
}

btn:hover {
    transform: translate(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

btn:active,
.btn:focus {
    outline: none;
    transform: translate(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.footer {
    padding: 1px 0 10px 0;
    background-color: transparent;  
}

.footer .social {
    text-align: center;
    padding-bottom: 1px;
    color: grey;
    border-top: 1px solid grey;
    border-radius: 3%;
}

.footer .social .footer-section {
    font-size: 20px;
    color: grey;
    width: 40px;
    line-height: 1px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
}

.footer .social a:hover {
    opacity: 9;
    color: honeydew;
}

.footer .nav-area1 {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer .nav-area1 li {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer .nav-area1 li {
    display: inline-block;
    padding: 0 15px;
}

.footer .nav-area1 li:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: grey;
}
