@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Baskerville:wght@700&family=Montserrat:ital,wght@0,300;0,700;1,200;1,900&family=Poppins:ital,wght@0,400;0,500;1,200&family=The+Nautigal:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../Images/Package_Background_6.jpg');
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: burlywood;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}

.nav-area li a:hover {
    background: burlywood;
    color: #333;
}

.logo img {
    width: 250px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.container .row {
    width: 85%;
    margin: auto;
}

.container .row .heading-section {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .heading-section h1 {
    padding-top: 110px;
    font-size: 50px;
    color: burlywood;
}

.container .row .heading-section p {
    margin-top: 15px;
    margin-left: 80px;
    color: grey;
    font-size: 25px;
    line-height: 1.5;
}

.container .row .heading-section span {
    color: skyblue;
    margin-left: 80px;
    font-size: 5rem;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-section .card {
    flex: 1;
    margin: 40px 20px;
}

.content-section .card img {
    width: 100%;
    height: auto;
    border: transparent;
    border-radius: 60%;
}

.content-section .card img h4 {
    margin-top: 20px;
}

.content-section .card h4 {
    color: burlywood;
    font-size: 2rem;
    text-align: center;
}

.content-section .card h4 span {
    font-size: 35px;
    color: skyblue;
}

.content-section .card i {
    color: yellow;
    font-size: 30px;
}


.content-section .card p {
    font-size: 15px;
    margin-top: 10px;
    color: grey;
    line-height: 1.5;
}

.content-section .card p span {
    font-size: 25px;
}

section .card1 h4 {
    font-size: 2rem;
    color: burlywood;
    text-align: center;
}

section .card1 p {
    color: grey;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .content-section {
        flex-direction: column;

    }
}